<div class="container" *ngIf="product">
    <h2>Product</h2>
    <h3 class="individual-product">
        <a 
        [title]="product.name + ' details' "
        [routerLink]="['/products', product.id]"
        >
            {{product.name}}

        </a>
    </h3>
    <p *ngIf="product.price">Price : {{product.price | currency }}</p>
    <p *ngIf="product.availability">Availability : {{product.availability}}</p>
    <button class="btn" type="button" (click)="addToCart(product)" [disabled]="!isProductAvailable" [class.disabled]="!isProductAvailable">Buy now</button>
</div>
